@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="margin: 0;padding: 5vh;padding-top: 28vh;padding-bottom: 10vh;background:url(https://cocktailzindagi.com/wp-content/uploads/2017/05/o-ATLAS-SHRUGGED-facebook-768x384.jpg);background-size:cover">
        <div class="row">
            <div class="col-md-7">
                <h1 style="font-size: 12vh;color:white">ATLAS</h1>
                <p style="    color: #00264b;
    padding: 2vh;
    background: #ffffff85;" class="lead">ATLAS is one of the best meeting schueduling system to schuedule a meeting and reserve meeting resources.</p>
              @*  <p class="btn btn-primary btn-lg" style="color:white">@Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-primary btn-lg" }, null)</p>*@
                <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">
                    <span>Register</span>
                </a>

            </div>
            <div class="col-md-5">


            </div>
        </div>
    </div>
<br />
<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <h2>Time Management</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Resource Reservation</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Resource Notification</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>